$font_stack: 'Ubuntu Medium', Ubuntu, Arial;
$font_fam: Arial;


$color_txt: #8a8a8a;
$color_blue: #248cec;
$color_yellow: #f4b60d;
$color_dark: #2a2d32;
$color_white: #fff;
$color_border: #181a1d;
$color_aside: #f7f7f7;







